@import url('https://webfontworld.github.io/sunn/SUIT.css');

:root {
    --fn-suit: 'SUIT';
    --color-main: #3E3A39;
    --color-grey1: #C6C6C6;
    --color-grey2: #979797;
}

body{
    font-family: var(--fn-suit);
    color: #000;
}
body.no-scroll {
    overflow: hidden;
}

button{
    font-family: var(--fn-suit);
}

.blind {
    width: 0;
    height: 0;
    text-indent: -9999px;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.mb{
    display: none;
}
@media all and (max-width : 1024px){
    .pc{
        display: none;
    }
    .mb{
        display: block;
    }
}
