.subContainer{
    width: 100%;
    padding: 0 20px 150px 20px;
}

.subContainer.about{
    display: flex;
    column-gap: 20px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 45px 20px 150px 78px;
}
.subTitles{
    min-width: 427px;
}
.subTitles p{
    color: var(--color-grey1);
    font-size: 40px;
    font-weight: 700;
    line-height: 180%; /* 72px */
    letter-spacing: -2px;
}
.subTitles span{
    color: var(--color-main);
}
.subDescContainer{
    max-width: 1167px;
    width: calc(100% - 447px);
}
.logoContainer{
    width: 51px;
    margin-bottom: 40px;
}
.logoContainer img{
    width: 100%;
}
.subDesc{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
}
.subDesc p{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%; /* 32.4px */
    letter-spacing: -0.9px;
}
.subDesc p span{
    display: inline-block;
    width: 50px;
}

@media all and (max-width : 1280px){
    .subContainer.about{
        padding: 0 20px 150px 20px;
    }
    .subTitles{
        min-width: 300px;
    }
    .subDescContainer{
        width: calc(100% - 327px);
    }
}
@media all and (max-width : 1024px){
    .subContainer.about{
        flex-direction: column;
        padding: 0 14px 150px 14px;
    }
    .subTitles{
        min-width: unset;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .subTitles p{
        font-size: 24px;
        letter-spacing: -1.2px;
    }
    .subDescContainer{
        width: 100%;
    }
    .logoContainer{
        display: none;
    }
    .subDesc p span{
        width: 30px;
    }
}

.subContainer.pro{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 32px 80px 150px 80px;
}
.subContainer.pro.active{
    justify-content: flex-end;
}
.tabNav{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.subContainer.pro.active .tabNav{
    position: fixed;
    left: 80px;
    top: 160px;
}
.tabNav li a{
    display: block;
    width: 200px;
    padding: 10px;
    color: var(--color-main);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-transform: capitalize;
    transition: all .2s;
}
.tabNav li.active a{
    font-weight: 900;
}
.tabNav li:hover a{
    font-weight: 900;
}

.tabContents{
    width: calc(100% - 445px);
}
.projectLists.pro{
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}


@media all and (max-width : 1550px){
    .tabContents{
        width: calc(100% - 245px);
    }
    .projectLists.pro{
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}
@media all and (max-width : 1340px){
    .projectLists.pro{
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}
@media all and (max-width : 1024px){
    .subContainer.pro{
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 14px 150px 14px;
    }
    .subContainer.pro.active{
        justify-content: flex-start;
    }
    .tabNav{
        flex-direction: row;
        column-gap: 8px;
        padding: 20px 0;
        overflow-y: auto;
    }
    .subContainer.pro.active .tabNav{
        position: unset;
    }
    .tabNav li a{
        width: fit-content;
        white-space: nowrap;
    }

    .tabContents{
        width: 100%;
    }
    .projectLists.pro{
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}

.subContainer.view{
    display: flex;
    column-gap: 60px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 32px 80px 150px 80px;
}

.imgsContainer{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: calc(100% / 2);
}
.imgsContainer li{
    width: 100%;
}
.imgsContainer li img{
    width: 100%;
}

.textsContainer{
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    width: calc(100% / 2);
}
.subContainer.view.active .textsContainer{
    position: fixed;
    right: 80px;
    top: 180px;
    width: calc(50% - 140px);
}
.textsTitles{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
}
.category{
    width: fit-content;
    padding: 8px 12px;
    border-radius: 9899px;
    border: 1px solid #DEDEDE;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
}
.titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.titles h2{
    width: calc(100% - 40px);
    color: var(--color-main);
    font-size: 28px;
    font-weight: 500;
    line-height: 140%; /* 39.2px */
    letter-spacing: -1.4px;

}
.titles button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #DEDEDE;
    transition: all .2s;
    cursor: pointer;
}
.titles button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.infos{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.infos li span{
    display: inline-block;
    margin-bottom: 8px;
    color: var(--color-grey2);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
}
.infos li p{
    color: var(--color-main);
    font-size: 18px;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
}
.infoDesc{
    color: var(--color-main);
    font-size: 16px;
    font-weight: 500;
    line-height: 180%; /* 28.8px */
    letter-spacing: -0.8px;
}

@media all and (max-width : 1024px){
    .subContainer.view{
        display: block;
        padding: 20px 14px 150px 14px;
    }

    .imgsContainer{
        row-gap: 10px;
        width: 100%;
    }

    .textsContainer{
        position: fixed;
        bottom: 0;
        left: 0;
        row-gap: 40px;
        width: 100%;
        height: 30%;
        padding: 20px 14px 150px 14px;
        background-color: #fff;
        overflow-y: auto;
    }
    .subContainer.view.active .textsContainer{
        position: fixed;
        bottom: 0;
        left: 0;
        top: unset;
        right: unset;
        width: 100%;
    }
    .titles{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 16px;
    }
    .titles h2{
        width: 100%;
        font-size: 24px;
        letter-spacing: -1.2px;
    }

    .infos li p{
        font-size: 16px;
    }
}

.subContainer.about.pa{
    display: flex;
    column-gap: 168px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 45px 20px 150px 78px;
}
.subParContainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 23px;
    width: calc(100% - 595px);
}
.subParContainer li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #DEDEDE;
    background: #fff;
}
.subParContainer li a img{
    width: 100%;
}

@media all and (max-width : 1460px){
    .subContainer.about.pa{
        column-gap: 60px;
    }
    .subParContainer{
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        width: calc(100% - 437px);
    }
}
@media all and (max-width : 1024px){
    .subContainer.about.pa{
        padding: 0 14px 150px 14px;
    }
    .subParContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .subParContainer li a{
        height: 155px;
    }
    .subParContainer li a img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.loading{
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background-color: #fff;
   z-index: 100;
   transition: 0.5s ease;
	
}
.loading svg {
    width: 55px;
    height: 50px;
}
.loading svg path {
    fill: none;
    stroke: #3E3A39;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}